<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unofficial State Mileage Report History Tracker</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="b2">
        <section class="container">
            <!-- <div class="one">
                <h2>Update fields:</h2>

                <form action="/" method="POST">
                    <h3>Select Date</h3>
                    <input type="date" name="currentDay">
                        <h3>Select Vehicle:</h3>
                        <div>
                        <input type="radio" name="vehicleUsed" value="Malibu"/>
                        <label for="choice1">Malibu</label>
                    
                        <input type="radio"  name="vehicleUsed" value="Impala"/>
                        <label for="choice2">Impala</label>
                        </div>
                    <h3>Odometer Start</h3>
                    <input type="number" placeholder="Beginning Mileage" name="odoStart">
                    <br></br>
                    <h3>Odometer End</h3>
                    <input type="number" placeholder="Ending Mileage" name="odoEnd">
                    <br></br>
                    <h3>Driver</h3>
                    <input type="text" placeholder="Driver Name" name="driver">
                    <br></br>
                    <input type="submit">
                </form>
            </div> -->
            <br></br>
            <div>
            <table class="logHistory">
                <tr>
                    <th>Date</th>
                    <th>Vehicle</th>
                    <th>Odo Start</th>
                    <th>Odo End</th>
                    <th>Driver</th>
                </tr>
                <% mileageEntries.forEach(info => { %>
                    <% if (info._id==idOfEntry) { %>

                            <h1>Update Fields:</h1>

                            <form action="/edit/<%= info._id %>" method="POST">
                                <h3>Select Date</h3>
                                <input type="date" name="currentDay">
                                    <h3>Select Vehicle:</h3>
                                    <div>
                                    <input type="radio" name="vehicleUsed" value="Malibu"/>
                                    <label for="choice1">Malibu</label>
                                
                                    <input type="radio"  name="vehicleUsed" value="Impala"/>
                                    <label for="choice2">Impala</label>
                                    </div>
                                <h3>Odometer Start</h3>
                                <input type="number"  placeholder="<%= info.odoStart %>" name="odoStart">
                                <br></br>
                                <h3>Odometer End</h3>
                                <input type="number" placeholder="<%= info.odoEnd %>" name="odoEnd">
                                <br></br>
                                <h3>Driver</h3>
                                <input type="text" placeholder="<%= info.driver %>" name="driver">
                                <br></br>
                                <button type="submit" class="confirm">Confirm</button>
                                <br>
                                <br>
                                <a href="/" class="cancel">Cancel</a>
                            </form>
                        </li>
                        <% } else { %>
                    <tr class="mileage-list-item">
                        <td class="mileage-list-item-currentDay"><%= info.currentDay %></td>
                        <td class="mileage-list-item-vehicleUsed"><%= info.vehicleUsed %></td>
                        <td class="mileage-list-item-odoStart"><%= info.odoStart %></td>
                        <td class="mileage-list-item-odoEnd"><%= info.odoEnd %></td>
                        <td class="mileage-list-item-driver"><%= info.driver %></td>
                        <td><a href="/edit/<%= info._id %>" class="edit">
                        <span class="fas fa-edit"></span>
                        </a></td>
                        <td class='fa fa-trash'></td>
                    </tr>
                    <% } %>
                <% }) %>
            </table>
            </div>


        </section>
    <script src='js/main.js'></script>
</body>
</html>